@import url(http://fonts.googleapis.com/css?family=Patua+One);

.bucketselector {
	font-family: 'Patua One', cursive;
	font-size: 10px
}

.bucketselect {
	width: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
}