<div class="loginview ui-widget">
	<div class="ui-widget-header ui-corner-top">
		<span>Login Amazon S3</span>
	</div>
	<div class="ui-widget-content ui-corner-bottom">
		<span>Access Key Id</span>
		<div>
			<input class="ui-corner-all" type="text" data-to="[accessKey]"
				data-getFrom="[accessKey]" style="width: 95%" />
		</div>
		<div>Secret Access Key</div>
		<div>
			<input class="ui-corner-all" type="password" data-to="[secretKey]"
				data-getFrom="[secretKey]" style="width: 95%" />
		</div>

		<div>
			<input class="ui-corner-all login" type="button" value="login" /> <input
				class="ui-corner-all save" type="button" value="save" />
		</div>
	</div>
</div>